PORT=4000

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# Supabase API key
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=


EXTERNAL_API=